.card {
    height: 400px;
    min-width: 300px;
    max-width: 350px;
    padding: 10px;
    margin: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.131);
    border-radius: 7px;
    text-align: center;
  }
  
  .card:active {
    background-color: #bcf2fb94;
  }
  
  .card:hover {
    cursor: pointer;
  }
  
  .card_text {
    padding: 15px;
    font-weight: bold;
  }

.card-dialog {
    font-size: 22px;
    width: 700px;
    height: 700px;
    padding: 10px;
    border-radius: 7px;
  }